$red: #f44336;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$deep-orange: #FF5722;
$brown: #795548;
$gray: #9E9E9E;
$blue-gray: #607D8B;

$font-color-dark: #444;
$font-color-light: #666;

$off-white: #fafafa;

@mixin drop-shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin drop-shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin drop-shadow-3 {
  box-shadow: 0 6px 9px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
}

@mixin focus-glow($color, $time) {
  &:focus {
    box-shadow: 0 0 5px $color;
    outline: none;
    border: 1px solid $color;
    transition: all $time ease-in-out;
  }
}

@mixin with-colors {
  &.amber {
    background-color: $amber;
  }

  &.blue {
    background-color: $blue;
  }

  &.blue-gray {
    background-color: $blue-gray;
  }

  &.brown {
    background-color: $brown;
  }

  &.cyan {
    background-color: $cyan;
  }

  &.deep-orange {
    background-color: $deep-orange;
  }

  &.deep-purple {
    background-color: $deep-purple;
  }

  &.gray {
    background-color: $gray;
  }

  &.green {
    background-color: $green;
  }

  &.indigo {
    background-color: $indigo;
  }

  &.light-blue {
    background-color: $light-blue;
  }

  &.light-green {
    background-color: $light-green;
  }

  &.lime {
    background-color: $lime;
    color: $font-color-dark;
  }

  &.orange {
    background-color: $orange;
  }

  &.pink {
    background-color: $pink;
  }

  &.purple {
    background-color: $purple;
  }

  &.red {
    background-color: $red;
  }

  &.teal {
    background-color: $teal;
  }

  &.yellow {
    background-color: $yellow;
  }
}
