@import '~styles/colors';

.submitting-cards {
  .judge {
    color: $font-color-light;
    text-align: center;
  }

  .player-block {
    opacity: 1;
    transition: opacity ease .75s;

    &.still-picking {
      opacity: .2;
    }
  }
}
