<link id="styles" rel="stylesheet" href="/game/game.css" />

<div id="root"></div>

<script>
var serverAddress = '{{serverAddress}}'
var websocketAddress = '{{websocketAddress}}'
</script>
<script src="/game/game.js"></script>
