<link rel="stylesheet" href="/game.css" />

<div id="root"></div>

<script>
var serverAddress = '{{serverAddress}}'
var websocketAddress = '{{websocketAddress}}'
</script>
<script src="/game.js"></script>
