@import '~styles/colors.scss';

header {
  background-color: $header-color;

  @include drop-shadow-2;

  .title {
    margin: 0;
    padding: 15px 10px;

    color: $font-color-dark;
    font-size: 24px;
    text-align: center;
  }
}
