@import '~styles/colors.scss';

header {
  background-color: $off-white;

  @include drop-shadow-2;

  .title {
    margin: 0;
    padding: 10px;

    color: $font-color-dark;
    font-size: 20px;
    text-align: center;
  }
}
