@import "~styles/colors.scss";

.amber {
  background-color: $amber;
}

.blue {
  background-color: $blue;
}

.blue-gray {
  background-color: $blue-gray;
}

.brown {
  background-color: $brown;
}

.cyan {
  background-color: $cyan;
}

.deep-orange {
  background-color: $deep-orange;
}

.deep-purple {
  background-color: $deep-purple;
}

.gray {
  background-color: $gray;
}

.green {
  background-color: $green;
}

.indigo {
  background-color: $indigo;
}

.light-blue {
  background-color: $light-blue;
}

.light-green {
  background-color: $light-green;
}

.lime {
  background-color: $lime;
}

.orange {
  background-color: $orange;
}

.pink {
  background-color: $pink;
}

.purple {
  background-color: $purple;
}

.red {
  background-color: $red;
}

.teal {
  background-color: $teal;
}

.yellow {
  background-color: $yellow;
}
